# Final Project Phase 3 Summary
This Jupyter Notebook (.ipynb) will serve as the skeleton file for your submission for Phase 3 of the Final Project. Complete all sections below as specified in the instructions for the project, covering all necessary details. We will use this to grade your individual code (Do this whether you are in a group or not). Good luck! <br><br>

Note: To edit a Markdown cell, double-click on its text.

## Jupyter Notebook Quick Tips
Here are some quick formatting tips to get you started with Jupyter Notebooks. This is by no means exhaustive, and there are plenty of articles to highlight other things that can be done. We recommend using HTML syntax for Markdown but there is also Markdown syntax that is more streamlined and might be preferable. 
<a href = "https://towardsdatascience.com/markdown-cells-jupyter-notebook-d3bea8416671">Here's an article</a> that goes into more detail. (Double-click on cell to see syntax)

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
<br>
<b>BoldText</b> or <i>ItalicText</i>
<br> <br>
Math Formulas: $x^2 + y^2 = 1$
<br> <br>
Line Breaks are done using br enclosed in < >.
<br><br>
Hyperlinks are done with: <a> https://www.google.com </a> or 
<a href="http://www.google.com">Google</a><br>

# Data Collection and Cleaning


Transfer/update the data collection and cleaning you created for Phase II below. You may include additional cleaning functions if you have extra datasets. If no changes are necessary, simply copy and paste your phase II parsing/cleaning functions.

In [ ]:
import numpy as np
import pandas as pd
import requests, re
from bs4 import BeautifulSoup
import plotly.express as px
import plotly.graph_objects as go

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Downloaded Dataset Requirement

In [ ]:
def data_parser1():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  dfg1.to_csv("dataset_university.csv")
  
  # dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg2.to_csv("dataset_control.csv")

  # dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  # dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  # dfg3.to_csv("dataset_major.csv")

  return dfg1
  # return df
  pass

############ Function Call ############
data_parser1()

,UNITID,OPEID6,CONTROL,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,...,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR,num_nans
INSTNM,,,,,,,,,,,,,,,,,,,,,
A T Still University of Health Sciences,177834.0,2477,"Private, nonprofit",71.705882,72.111111,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,79228.636364,89627.428571,100270.600000,88784.5,11
ABC Adult School,491464.0,42270,Public,14.714286,12.714286,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
ABC Beauty Academy,459523.0,41688,"Private, for-profit",52.000000,22.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,11550.000000,NaN,11109.0,13
ABCO Technology,485500.0,42426,"Private, for-profit",19.600000,26.600000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
AI Miami International University of Art and Design,134811.0,8878,"Private, for-profit",31.571429,24.000000,33742.4,31563.6,29485.5,33466.0,30290.0,...,28097.666667,40907.5,33791.909091,32552.857143,34528.0,25242.727273,29141.071429,29670.666667,27973.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yukon Beauty College Inc,413820.0,25565,"Private, for-profit",14.000000,10.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14331.000000,NaN,NaN,NaN,NaN,NaN,NaN,14
Z Hair Academy,451237.0,41329,"Private, for-profit",81.000000,103.000000,10687.0,NaN,NaN,8058.0,NaN,...,6414.000000,9456.0,NaN,NaN,NaN,19834.000000,20730.000000,NaN,20698.0,8
ZMS The Academy,486248.0,42217,"Private, for-profit",73.000000,43.500000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11106.000000,9658.000000,11452.0,16113.000000,NaN,NaN,NaN,11
Zane State College,204255.0,8133,Public,9.653846,9.132075,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12726.428571,NaN,NaN,42157.750000,32546.777778,47334.000000,23722.4,10
eClips School of Cosmetology and Barbering,446534.0,39163,"Private, for-profit",23.000000,26.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,11383.000000,NaN,NaN,13282.000000,14272.000000,12843.000000,NaN,11

In [ ]:
def data_parser2():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  # dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  # dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  # dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  # dfg1.to_csv("dataset_university.csv")
  
  dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  dfg2.to_csv("dataset_control.csv")

  # dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  # dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  # dfg3.to_csv("dataset_major.csv")

  return dfg2
  # return df
  pass

############ Function Call ############
data_parser2()

,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,DEBT_NOTMALE_PP_EVAL_MEAN,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR
CONTROL,,,,,,,,,,,,,,,,,
Foreign,NaN,NaN,93811.000000,NaN,NaN,101980.500000,NaN,NaN,NaN,NaN,19557.800000,NaN,16063.000000,50042.622222,51040.333333,67405.571429,51134.100000
"Private, for-profit",40.999926,47.451668,13669.221195,16484.883281,14727.146119,13384.773564,16904.857485,15365.854214,12259.592029,17776.313690,23988.207099,25360.965150,26404.842421,33168.912770,33599.534562,39944.867668,32012.519089
"Private, nonprofit",20.325790,20.240441,38189.921613,43711.806630,41732.207815,43177.745686,51959.355191,49414.223650,39285.385694,56280.896296,25586.678008,25265.151634,26766.871531,47573.482879,54376.484578,62785.358841,52728.233317
Public,29.752366,30.081302,28757.680423,32029.632095,31814.597945,32278.681322,36093.054840,36104.333494,26960.611093,42018.044164,20826.201180,21846.013122,22539.907325,42908.217261,48608.770500,53784.401204,45678.065989

In [ ]:
def data_parser3():
  data_file = '/content/drive/MyDrive/CS 2316 Project/FieldOfStudyData1718_1819_PP.csv'
  df = pd.read_csv(data_file, delimiter = ',')
  df.replace('PrivacySuppressed', np.NaN, inplace = True)
  df.drop(['BBRR2_FED_COMP_N','BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFLT', 'BBRR2_FED_COMP_DLNQ', 'BBRR2_FED_COMP_FBR', 'BBRR2_FED_COMP_DFR', 'BBRR2_FED_COMP_NOPROG', 'BBRR2_FED_COMP_MAKEPROG', 'BBRR2_FED_COMP_PAIDINFULL', 'BBRR2_FED_COMP_DISCHARGE', 'BBRR3_FED_COMP_N', 'BBRR3_FED_COMP_DFLT', 'BBRR3_FED_COMP_DLNQ', 'BBRR3_FED_COMP_FBR', 'BBRR3_FED_COMP_DFR', 'BBRR3_FED_COMP_NOPROG', 'BBRR3_FED_COMP_MAKEPROG', 'BBRR3_FED_COMP_PAIDINFULL', 'BBRR3_FED_COMP_DISCHARGE' ], inplace=True, axis=1)
  cols = df.columns
  cols = cols[9:]
  for i in cols:
    df = df.astype({i:'float'})

  # dfg1 = df.groupby(['INSTNM']).agg({'UNITID': 'first', 'OPEID6': 'first', 'CONTROL': 'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})

  # dfg1['num_nans'] = dfg1.isna().sum(axis=1)
  # dfg1 = dfg1[(dfg1['num_nans'] < 17)]
  # dfg1.to_csv("dataset_university.csv")
  
  # dfg2 = df.groupby(['CONTROL']).agg({'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  # dfg2.to_csv("dataset_control.csv")

  dfg3 = df.groupby(['CIPCODE']).agg({'CIPDESC':'first', 'IPEDSCOUNT1': 'mean', 'IPEDSCOUNT2': 'mean', 'DEBT_ALL_PP_ANY_MEAN':'mean', 'DEBT_MALE_PP_ANY_MEAN':'mean', 'DEBT_NOTMALE_PP_ANY_MEAN':'mean', 'DEBT_ALL_PP_EVAL_MEAN':'mean', 'DEBT_MALE_PP_EVAL_MEAN':'mean', 'DEBT_NOTMALE_PP_EVAL_MEAN':'mean', 'DEBT_PELL_PP_EVAL_MEAN':'mean', 'DEBT_NOPELL_PP_EVAL_MEAN':'mean', 'DEBT_ALL_STGP_ANY_MEAN':'mean', 'DEBT_MALE_STGP_ANY_MEAN':'mean', 'DEBT_NOTMALE_STGP_ANY_MEAN':'mean', 'EARN_MDN_HI_1YR': 'mean', 'EARN_NE_MDN_3YR': 'mean', 'EARN_MALE_NE_MDN_3YR':'mean', 'EARN_NOMALE_NE_MDN_3YR':'mean'})
  dfg3['num_nans'] = dfg3.isna().sum(axis=1)
  dfg3 = dfg3[(dfg3['num_nans'] < 17)]
  dfg3.to_csv("dataset_major.csv")

  return dfg3
  # return df
  pass

############ Function Call ############
data_parser3()

,CIPDESC,IPEDSCOUNT1,IPEDSCOUNT2,DEBT_ALL_PP_ANY_MEAN,DEBT_MALE_PP_ANY_MEAN,DEBT_NOTMALE_PP_ANY_MEAN,DEBT_ALL_PP_EVAL_MEAN,DEBT_MALE_PP_EVAL_MEAN,DEBT_NOTMALE_PP_EVAL_MEAN,DEBT_PELL_PP_EVAL_MEAN,DEBT_NOPELL_PP_EVAL_MEAN,DEBT_ALL_STGP_ANY_MEAN,DEBT_MALE_STGP_ANY_MEAN,DEBT_NOTMALE_STGP_ANY_MEAN,EARN_MDN_HI_1YR,EARN_NE_MDN_3YR,EARN_MALE_NE_MDN_3YR,EARN_NOMALE_NE_MDN_3YR,num_nans
CIPCODE,,,,,,,,,,,,,,,,,,,
100,"Agriculture, General.",14.344398,13.817121,31006.545455,22557.666667,30297.000000,30950.636364,23022.666667,27074.000000,19456.000000,31107.333333,20819.575758,21440.533333,21208.411765,36883.980000,39330.657895,44822.631579,36142.545455,0
101,Agricultural Business and Management.,16.839921,17.134615,40954.766667,29751.250000,46005.857143,42450.103448,30314.125000,47251.857143,33579.125000,36951.833333,17580.769231,19331.666667,17296.541667,42359.597826,48501.309524,52304.174603,46877.709677,0
102,Agricultural Mechanization.,13.800000,13.723214,30816.000000,NaN,NaN,36133.500000,NaN,NaN,NaN,NaN,18046.400000,NaN,NaN,45820.318182,51775.833333,51360.000000,NaN,9
103,Agricultural Production Operations.,8.910326,8.929293,40619.600000,NaN,NaN,41003.400000,NaN,NaN,33605.000000,NaN,17981.535714,18498.400000,14823.125000,31366.931034,37088.000000,43121.500000,30961.800000,5
104,Agricultural and Food Products Processing.,6.457143,6.421053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19898.500000,20420.000000,NaN,54205.500000,59149.000000,78507.000000,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,"Business, Management, Marketing, and Related S...",20.296820,20.614841,43931.388889,50049.142857,49786.222222,48733.200000,55229.000000,55192.250000,52430.222222,46338.000000,24596.710526,23778.500000,24908.277778,51621.439394,54645.144928,57331.333333,48005.275000,0
5301,High School/Secondary Diploma Programs.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41979.000000,60425.000000,70468.000000,53913.000000,13
5401,History.,15.240430,15.131919,37305.408284,39239.264151,31325.894737,39636.098592,41073.076923,30316.166667,23556.333333,42067.454545,23348.903683,23334.281106,23070.266667,30460.047718,37966.115108,39715.929630,36207.556818,0
6001,Dental Residency Programs.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190365.500000,206116.500000,184245.000000,NaN,14
6004,Medical Residency Programs - General Certifica...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35726.000000,40759.000000,28178.000000,14

## Web Collection Requirement \#1

In [ ]:
def web_parser1():
  url = 'https://www.reachhighscholars.org/scores_and_acceptance.html'
  resp = requests.get(url)
  soup = BeautifulSoup(resp.text, "html.parser")
  # print(soup)
  
  table = soup.find("table")
  rows = table.find_all("tr")

  headers = rows[0].text.strip('\n').replace('-', '\n\n').split('\n\n')
  headers[1] = headers[1] + 'th Percentile'
  headers[2] = 'SAT ' + headers[2]
  df = pd.DataFrame(columns = headers)
  # print(rows)
  rows = rows[1:]
  # print(rows)
  for row in rows:
    data = row.text.strip('\n').replace('-', '\n\n').split('\n\n')
    data = [i.strip() for i in data] #necessary in order to make sure that there is valuable data in the line and not just empty

    # print(data)
    if data != ['','',''] and len(data) == 4:
      df.loc[len(df)] = data
    elif(len(data) == 5):
      data = [data[0] + '-' + data[1], data[2], data[3]]
  # print(table)  
  df = df.astype({'SAT 25th Percentile':'int', 'SAT 75th Percentile': 'int'})

  df['SAT Average'] = (df['SAT 25th Percentile'] + df['SAT 75th Percentile']) / 2
  df.loc[106, '% of Applicants Accepted'] = int(df.iloc[106]['% of Applicants Accepted']) / 10
  df.to_csv("WebRequirement1.csv")

  return df
  # pass

############ Function Call ############
web_parser1()

,College,SAT 25th Percentile,SAT 75th Percentile,% of Applicants Accepted,SAT Average
0,Cal Tech,1530,1580,7,1555.0
1,Harvard,1460,1580,5,1520.0
2,MIT,1510,1580,7,1545.0
3,Yale,1460,1580,5,1520.0
4,Brown,1440,1570,8,1505.0
...,...,...,...,...,...
121,Knox,1080,1320,71,1200.0
122,St. Anselm,1140,1300,75,1220.0
123,Stonehill,1120,1290,69,1205.0
124,St. Michael's,1130,1280,88,1205.0
125,UNH,1090,1280,85,1185.0

## Web Collection Requirement #2

In [ ]:
def web_parser2():
  df = pd.DataFrame(columns = ['Name', 'avg_income'])
  for i in range(0, 355):
    url = "https://api.data.gov/ed/collegescorecard/v1/schools.json?page={fpage},per_page=100&api_key=6QnJqX2bDvlVKsS4xPyPkMZG28mHTKRJ5rLgNxeW".format(fpage=i)
    resp = requests.get(url)
    data = resp.json()
    # print(data)

    # Mean post-graduation income for each college?
    names = []
    incomes = []
    for college in data["results"]:
        name = college["latest"]["school"]["name"]
        income = college["latest"]["student"]["demographics"]["avg_family_income"]
        if income:
          df.loc[len(df)] = [name, income]
        # print(income)
  df['Min Income Range'] = df['avg_income'] // 10000 * 10000
  df['Max Income Range'] = df['avg_income'] // 10000 * 10000 + 10000

  df['Income Range'] =  np.where(df['Min Income Range'] < 120000, df['Min Income Range'].astype(str) + ' - ' + df['Max Income Range'].astype(str), '120000 +')
  # df['Min Income Range'].astype(str) + ' - ' + df['Max Income Range'].astype(str)

  df.to_csv("WebRequirement2.csv")
  return df
############ Function Call ############
web_parser2()

,Name,avg_income,Min Income Range,Max Income Range,Income Range
0,Alabama A & M University,32362,30000,40000,30000 - 40000
1,University of Alabama at Birmingham,51306,50000,60000,50000 - 60000
2,Amridge University,21079,20000,30000,20000 - 30000
3,University of Alabama in Huntsville,61096,60000,70000,60000 - 70000
4,Alabama State University,31684,30000,40000,30000 - 40000
...,...,...,...,...,...
5906,Pennsylvania State University-Penn State Wilke...,82495,80000,90000,80000 - 90000
5907,Pennsylvania State University-Penn State York,82495,80000,90000,80000 - 90000
5908,Pennsylvania State University-Penn State Great...,82495,80000,90000,80000 - 90000
5909,Pennsylvania State University-Penn State Harri...,82495,80000,90000,80000 - 90000
5910,Pennsylvania State University-Penn State Brand...,82495,80000,90000,80000 - 90000

#Inconsistency Revisions
 **If you were requested to revise your inconsistency section from Phase II, enter your responses here. Otherwise, ignore this section.**

For each inconsistency (NaN, null, duplicate values, empty strings, etc.) you discover in your datasets, write at least 2 sentences stating the significance, how you identified it, and how you handled it.

1. 

2. 

3. 

4. (if applicable)

5. (if applicable)

## Data Sources

Include sources (as links) to your datasets. If any of these are different from your sources used in Phase II, please <b>clearly</b> specify.
*   Downloaded Dataset Source: https://collegescorecard.ed.gov/data
    
    Easy access to the dataset used: https://drive.google.com/file/d/1Zlxf4iP71awQBMopWyBaf8c9WdJoAgF6/view?usp=share_link

*   Web Collection #1 Source: https://www.reachhighscholars.org/scores_and_acceptance.html
*   Web Collection #2 Source: https://api.data.gov/ed/collegescorecard/v1/schools.json?&api_key=6QnJqX2bDvlVKsS4xPyPkMZG28mHTKRJ5rLgNxeW

# Data Analysis
For the Data Analysis section, you are required to utilize your data to complete the following:

*   Create at least 5 insights
*   Generate at least 3 data visualizations
*   Export aggregated data to at least 1 summary file 

Create a function for each of the following sections mentioned above. Do not forget to fill out the explanation section for each function. 

Make sure your data analysis is not too simple. Performing complex aggregation and using modules not taught in class shows effort, which will increase the chance of receiving full credit.

# Video Presentation

If you uploaded your Video Presentation to Bluejeans, YouTube, or any other streaming services, please provide the link here:


*   https://youtu.be/Y1-5GC9g9QA

Make sure the video sharing permissions are accessible for anyone with the provided link.

# Topic Summary

Please provide a brief executive summary (5 sentences or less) discussing your topic:

College plays a large role in one's life, and there are many different factors that can impact the application process. It is also a life changing experience for many, especially post graduation. Thus, this topic investigates on how college has impacted our lives - first, how was our college applications were impacted by our SAT scores. Secondly, how was our college degrees could financially impact us in the future, especially in terms of the debt we could potentially have at the end of college and the income we could earn post graduation.

## Insights

### Insight 1 Explanation

Insight 1 was done to show the correlation between the percentage of acceptance applicants and the SAT average at each college. This insight corresponds to Data visualisation 1, which will be shown later but is a scatterplot with a trendline showing the correlation between the percentage of acceptance applicants and the SAT average at each college. As seen in this insight, the coefficient of determinant, also known as the R squared value, was approximately 0.7325, indicating a fairly strong correlation between the 2 variables.

In [ ]:
def insight1():
  df = pd.read_csv("WebRequirement1.csv", index_col=0)
  correlation = df['SAT Average'].corr(df['% of Applicants Accepted'])
  correlation_squared = correlation ** 2
  return f'The coefficient of determination (R squared value): ' + str(correlation_squared)
  # pass


############ Function Call ############
insight1()

'The coefficient of determination (R squared value): 0.7325763336908159'

### Insight 2 Explanation

Insight 2 showed us the top 10 average SAT scores of different colleges in descending order. Based on our findings in Insight 1, using this insight, we could predict that CalTech, which had the highest average SAT score of 1555.0, could potentially have one of the lowest acceptance rates.

In [ ]:
def insight2():
  df = pd.read_csv('WebRequirement1.csv')
  df_sorted = df.sort_values(by = 'SAT Average', ascending = False).reset_index()
  highest_sat_average = df_sorted[['College', 'SAT Average']].loc[:9]
  return highest_sat_average
  # pass

############ Function Call ############
insight2()

            College  SAT Average
0          Cal Tech       1555.0
1               MIT       1545.0
2              Duke       1535.0
3  Univ. of Chicago       1535.0
4       Harvey Mudd       1530.0
5     Johns Hopkins       1525.0
6              Yale       1520.0
7           Harvard       1520.0
8          Columbia       1520.0
9              Rice       1515.0

### Insight 3 Explanation

The program that will yied you the highest/lowest earnings after 1 year and 3 years after graduation

In [ ]:
def insight3():
  df = pd.read_csv('dataset_major.csv')
  max_1_year = df.loc[df['EARN_MDN_HI_1YR'].idxmax()]
  max_3_year = df.loc[df['EARN_NE_MDN_3YR'].idxmax()]

  min_1_year = df.loc[df['EARN_MDN_HI_1YR'].idxmin()]
  min_3_year = df.loc[df['EARN_NE_MDN_3YR'].idxmin()]

  max_1_year_program = max_1_year['CIPDESC']
  max_3_year_program = max_3_year['CIPDESC']

  min_1_year_program = min_1_year['CIPDESC']
  min_3_year_program = min_3_year['CIPDESC']

  return f'The program that will yield you the highest earnings after 1 year are {max_1_year_program} \nThe program that will yield you the highest earnings after 3 years are {max_3_year_program}\nThe program that will yield you the least earnings after 1 year is in {min_1_year_program} \nThe program that will yield you the least earnings after 3 years are programs in {min_3_year_program}'

  pass





############ Function Call ############
result = insight3()
print(result)

The program that will yield you the highest earnings after 1 year are Dental Residency Programs.
The program that will yield you the highest earnings after 3 years are Dental Residency Programs.
The program that will yield you the least earnings after 1 year is in Mason/Masonry.
The program that will yield you the least earnings after 3 years are programs in Mechanics and Repairers, General.

### Insight 4 Explanation

Through Insight 4, we were able to obtain information on the mean amount of debt a student had post graduation if they had taken loans. There were 2 sets of data about this - one if a student had received Parent Plus Loans, and another if a student had received Stafford and Grad Plus Loans. Students with Parent Plus Loans, which are loans which parents receive for the students, ended up in a larger amount of debt compared to those who received a loan themselves.

In [ ]:
def insight4():


  df = pd.read_csv('dataset_university.csv')
  average_total_parentplus_debt = round(df['DEBT_ALL_PP_ANY_MEAN'].mean(), 2)
  
  average_total_stgp_debt = round(df['DEBT_ALL_STGP_ANY_MEAN'].mean(), 2)
  # print(average_total_parentplus_debt)
  # print(average_total_stgp_debt)
  return f'The mean debt for individuals who received Parent Plus loans : ${str(average_total_parentplus_debt)}. \nThe mean debt for individuals who received Stafford and Grad PLUS loans: ${str(average_total_stgp_debt)}.'

  # pass





############ Function Call ############
result = insight4()
print(result)

The mean debt for individuals who received Parent Plus loans : $20888.42.
The mean debt for individuals who received Stafford and Grad PLUS loans: $19623.29.

### Insight 5 Explanation

Through Insight 5, we were able to see the average family income of students in different colleges. We identified the higher education entities with the top 5 highest and lowest average family incomes. Linking this to Insight 4, we can assume that it is more likely that students who come from families in the higher income bracket would have not received a loan as the family was able to pay for their tuition.

In [ ]:
def insight5max():
  df = pd.read_csv('WebRequirement2.csv')
  sort_df_by_avg_income = df.sort_values(by = 'avg_income', ascending=False).reset_index()
  colleges_max_incomes = sort_df_by_avg_income[:5].loc[:,['Name', 'avg_income']]
  
  return colleges_max_incomes

def insight5min():
  df = pd.read_csv('WebRequirement2.csv')
  sort_df_by_avg_income = df.sort_values(by = 'avg_income', ascending=False).reset_index()
  colleges_min_incomes = sort_df_by_avg_income[:-6:-1].loc[:,['Name', 'avg_income']].reset_index().loc[:,['Name', 'avg_income']]
  
  return colleges_min_incomes

  pass

############ Function Call ############
print('Highest Average Incomes:')
display(insight5max())
print('\n\n')
print('Lowest Average Incomes:')
display(insight5min())

Highest Average Incomes:

                                     Name  avg_income
0  Jewish Theological Seminary of America      174263
1           Washington and Lee University      145228
2                      Providence College      144616
3                     Bucknell University      143224
4                         Elon University      142286

Lowest Average Incomes:

                                      Name  avg_income
0       J F Ingram State Technical College         321
1                    Future-Tech Institute        1159
2  Rosslyn Training Academy of Cosmetology        1359
3            Cambridge Technical Institute        1861
4     Quality Technical and Beauty College        2391

## Data Visualizations

### Visualization 1 Explanation

This is a scatterplot which shows the percentage rate of applicants accepted with respect to the SAT Average of each college. This visualization alongside insight 1 shows the relationship and its strength respectively. This graph shows a line of best fit which we are then able to access some valuable information from such as the line of best fit.

In [ ]:
def visual1():
  df = pd.read_csv("WebRequirement1.csv", index_col=0)
  fig = px.scatter(df, x = '% of Applicants Accepted',
        y = 'SAT Average',
        title = 'Average SAT vs. % of Applicants Accepted',
        trendline = 'ols')
  fig.show()

  
  model = px.get_trendline_results(fig)
  alpha = model.iloc[0]["px_fit_results"].params[0]
  beta = model.iloc[0]["px_fit_results"].params[1]
  print(f'This is Visualization 1 which shows the relationship between the average SAT score for students at the school and the percentage of students accepted.\n')
  print(f'y-intercept: {alpha}')
  print(f'slope: {beta}')
  # return model
  pass

############ Function Call ############
visual1()

This is Visualization 1 which shows the relationship between the average SAT score for students at the school and the percentage of students accepted.

y-intercept: 1500.69066510879
slope: -3.477534977853308

### Visualization 2 Explanation

This is a pie chart which shows the percentage of colleges by the average household income bracket that they fall within. This helps to show the range that most colleges fall within and can shed some insight upon how different colleges may have students of different demographics simply because the disparity in average household income.

In [ ]:
def visual2():
  df = pd.read_csv("WebRequirement2.csv", index_col=0)
  dfa = df.groupby('Income Range').agg({'Name': 'count', 'Min Income Range': 'first'}).reset_index()
  dfa_sorted = dfa.sort_values(by = 'Min Income Range', ascending = True).reset_index()

  
  fig = px.pie(dfa_sorted, names= 'Income Range', values='Name', title='Colleges by Average Household Income Ranges')
  fig.show()
  # return dfa_sorted
  print('This is visualization 2 which shows a pie chart showing the percentage of schools that have an average household income within certain ranges (groups of $10,000).')
  pass

############ Function Call ############
visual2()

This is visualization 2 which shows a pie chart showing the percentage of schools that have an average household income within certain ranges (groups of $10,000).

### Visualization 3 Explanation

This is a bar graph that shows a comparison between the median incomes based on the control of the higher education entity. Some key information that can be taken away from this chart pertains to whether public entities result in less income than private entities. This graph compares median income for all after 1 year, all after 3 years, males after 3 years, and non-males after 3 years.

In [ ]:
def visual3():
  df = pd.read_csv('dataset_control.csv')
  df_pay = df[['CONTROL','EARN_MDN_HI_1YR', 'EARN_NE_MDN_3YR', 'EARN_MALE_NE_MDN_3YR', 'EARN_NOMALE_NE_MDN_3YR']]
  new_df = pd.DataFrame(columns=['Control', 'Earn_Type', 'Amount'])

  for i in range(len(df_pay)):
    # print(i)
    for j in df_pay.columns[1:]:
      new_df.loc[len(new_df)] = [df_pay.loc[i, 'CONTROL'], j, df_pay.loc[i, j]]
      # print(j)


  fig = px.bar(new_df, x="Earn_Type", y="Amount",
              labels={'Amount': 'Average Earnings'},
              color='Control', barmode='group',
              title = 'Average Earnings Based On Higher Education Control',
              height=400)
  fig.show()
  # return new_df
  print('This is visualization 3 which shows a bargraph showing the different median incomes post graduation \ngrouped by their control allowing for comparison between public and private schools among others.')
  pass

############ Function Call ############
visual3()

This is visualization 3 which shows a bargraph showing the different median incomes post graduation
grouped by their control allowing for comparison between public and private schools among others.

# Cited Sources

If you used any additional sources to complete your Data Analysis section, list them here:


*   https://plotly.com/python/figure-labels/
*   https://www.geeksforgeeks.org/how-to-calculate-correlation-between-two-columns-in-pandas/
*   https://plotly.com/python/linear-fits/#:~:text=Linear%20fit%20trendlines%20with%20Plotly%20Express,-Plotly%20Express%20is&text=Hovering%20over%20the%20trendline%20will,and%20its%20R%2Dsquared%20value.
*   https://plotly.com/python-api-reference/generated/plotly.graph_objects.Bar.html
*   https://plotly.com/python/pie-charts/#pie-chart-with-plotly-express
*   https://community.plotly.com/t/plotly-pie-chart-order-of-slices/35484
*   https://towardsdatascience.com/introduction-to-linear-regression-in-python-c12a072bedf0

# Graphical User Interface (GUI) Implementation
If you decide to create a GUI for Phase II, please create a separate Python file (.py) to build your GUI. You must submit both the completed PhaseII.ipynb and your Python GUI file.

# Submission

Prior to submitting your notebook to Gradescope, be sure to <b>run all functions within this file</b>. We will not run your functions ourselves, so we must see your outputs within this file in order to receive full credit.